# Dependencies
node_modules/

# Builds
dist/
build/

# Env
.env
.env.local
.env.*.local

# Prisma
server/prisma/*.db
server/prisma/*.db-journal
server/uploads/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vite
client/*.local
